figcaption {
    font-size: 14px;
    color: #444444; 
}

h1 { 
  font-family: helvetica;
  font-size: 45px;
}

h2 {
  font-style: italic;
  color: #444444; 
  font-family: helvetica;
}

p {
  text-align: center;
  font-size: 12px;
  font-family: helvetica;
  color: #444444; 
}

ul {
  font-size: 14px;  
  font-family: helvetica;
  color: #444444; 
}

ol {
  font-size: 14px;  
  font-family: helvetica;
  color: #444444; 
}

a:link {
  text-decoration: underline;
  font-size: 12px;  
  font-family: helvetica;
  color: red; 
}
a:visited {
  text-decoration: underline;
  font-size: 12px;  
  font-family: helvetica;
  color: #8B0000; 
}